main {
  width: 100%;
  margin: 0 auto;
}

.main-content-container {
  margin: 2em 10%;
  padding: 1em;
}

.main-content-title {
  text-align: center;
  margin-bottom: 0.5em;
}

#restaurant {
  display: grid;
  grid-row-gap: 1em;
  padding-top: 1em;
}


.card {
  width: 100%;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 15px;
  background-color: #413543;
}

.card:hover {
  box-shadow: 10px 10px 5px 0px #2D2727;
}

.card-a-tag {
  text-decoration: none;
  color: #2D2727;
}

.card-rating {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: large;
  background-color: #413543;
  border-radius: 8px;
  padding: 0.4em 1.3em;
  z-index: 1;
}

.card-rating .fa {
  font-size: smaller;
  padding: 0.3em 0.8em 0.3em 0;
}

.img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 600px;
}

.card-image {
  height: 100%;
  width: 270px;
  object-fit: cover;
  object-position: center;
}

.card-content {
  padding: 1.4em 2em;
  font-size: small;
  text-align: center;
}

.card-content-title {
  font-weight: bold;
  padding-bottom: 0.376em;
  color: #ffffff;
}

.detail {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #ffffff;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
